#contact {
    min-height: calc(100vh - 349px);
    align-items: center;
}
.contact-content {
    width: 90%;
    max-width: 1200px;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.contact-image {
    width: min(330px, 80%);
    border-radius: 100%;
    border: 5px solid var(--text);
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp .6s ease forwards;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(400px, 100%);
}
#contacts {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    text-align: left;
    width: 100%;
    border: none;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
    transition: var(--transition);
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp .6s ease forwards;
    cursor: pointer;
}

.contact-option {
    display: none;
    flex-direction: column;
    padding-left: .3rem;
    gap: 1rem;
    transition: var(--transition);
}
.contact-option p {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp .6s ease forwards;
}
.contact-option#music p:nth-child(2) {
    font-size: 1.5rem;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:700px) {
    .contact-content {
        flex-direction: column;
        gap: 2rem;
    }
}