/* Genereal */

:root {
        /* Colors */
    --bg-color: #1E1E1E;
    --accent-color: #464646;
    --accent-color2: #FFFFFF;
    --intralink-color: #DA3838;
    --interlink-color: #50EF3E;
        /* Text formating */
    --text-size: 0.9em;
    --const: 1.2;
    --const2: 0.9;
    --const3: 0.8;
    --const4: 0.7;
    --text-size-h5: calc(var(--text-size) * var(--const));
    --text-size-h4: calc(var(--text-size-h5) * var(--const));
    --text-size-h3: calc(var(--text-size-h4) * var(--const));
    --text-size-h2: calc(var(--text-size-h3) * var(--const));
    --text-size-h1: calc(var(--text-size-h2) * var(--const));
    --text-size-h: calc(var(--text-size-h1) * var(--const));
    --font-weight: 700;
    --text-color: #FFFFFF;
    --text-color2: #383838;

    
}
html {
    font-family: 'Mulish', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Body */

body {
    margin: auto;
    max-width: 72vw;
    text-align: left;
    font-size: var(--text-size);
}
article {
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
section {
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
header {
    font-size: var(--text-size-h);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
footer {
    color: var(--text-color2);
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 2vh;
}
p {
    line-height: 2;
    letter-spacing: 1px;
}

/* Navigation bar */

nav {
    font-size: var(--text-size);
    text-align: right;
    word-spacing: 1vw;
}
#navigation-bar {
    max-width: 120%;
}
#navigation-bar-title-link {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: left;
}
#index-navigation-bar-content {
    font-size: var(--text-size-h5);
}

/* Links */

a {
    color: var(--intralink-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Headings */

h1 {
    font-size: var(--text-size-h1);
    font-weight: var(--font-weight);
}
h2 {
    font-size: var(--text-size-h2);
    font-weight: var(--font-weight);
}
h3 {
    font-size: var(--text-size-h3);
    font-weight: var(--font-weight);
}
h4 {
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight);
}
h5 {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
}
h6 {
    font-size: var(--text-size);
    font-weight: var(--font-weight);
}

/* Lists */

li {
    list-style-type: disc;
    line-height: 2;
    letter-spacing: 1px; 
}
#list-list {
    list-style-type: none;
}

/* Other items */

hr {
    height: 1px;
    background-color: var(--accent-color);
    border: none;
}

/* Scaling */

@media (min-width: 1300px) {
    body {
        font-size: calc(var(--text-size) * var(--const));
    }
}
@media (max-width: 850px) {
    body {
        font-size: calc(var(--text-size) * var(--const2));
    }
}
@media (max-width: 500px) {
    body {
        font-size: calc(var(--text-size) * var(--const3));
    }
}
@media (max-width: 320px) {
    body {
        font-size: calc(var(--text-size) * var(--const4));
    } 
}