@import url('https://fonts.googleapis.com/css?family=Lexend%20Deca:700|Lexend%20Deca:400');

:root {
    --transition: all .3s;
    --spacer: 4em 0;

    --font: 'Lexend Deca', sans-serif;
    --font-size: 14px;
    --h1-size: 4.210rem;
    --h2-size: 3.158rem;
    --h3-size: 2.369rem;
    --h4-size: 1.777rem;
    --h5-size: 1.333rem;
    --tiny-size: .75rem;

    --text: #ffffff;
    --background: #000000;
    --primary: #a0a0a0;
    --secondary: #e0e0e0;
    --accent: #ffffff;
}