@import url('https://fonts.googleapis.com/css?family=Lexend%20Deca:700|Lexend%20Deca:400');

:root {
    --transition: all .3s;
    --spacer: 4em 0;

    --font: 'Lexend Deca', sans-serif;
    --font-size: 14px;
    --tiny-size: .75rem;

    --text: #ffffff;
    --background: #000000;
    --primary: #a0a0a0;
}