/* Genereal */

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200&family=Mulish&display=swap');

:root {
    /* Colors */
    --bg-color: #080708;
    --bg-color2: #292929;
    --accent-color: #292929;
    --accent-color2: #FFFFFF;
    --accent-color3: #F1D302; 
    --text-color: #FFFFFF;
    --text-color2: #292929;
    --text-color3: #F1D302;
    --intralink-color: #DA3838;
    --intralink-color-active: #F2B1B1;
    --interlink-color: #25C7C7;
    --interlink-color-active: #D3F4F4;
    /* Text formating */
    --text-size: 0.9em;
    --const: 1.2;
    --const2: 0.9;
    --const3: 0.8;
    --const4: 0.7;
    --text-size-h5: calc(var(--text-size) * var(--const));
    --text-size-h4: calc(var(--text-size-h5) * var(--const));
    --text-size-h3: calc(var(--text-size-h4) * var(--const));
    --text-size-h2: calc(var(--text-size-h3) * var(--const));
    --text-size-h1: calc(var(--text-size-h2) * var(--const));
    --text-size-h: calc(var(--text-size-h1) * var(--const));
    --text-size-s: calc(var(--text-size) * var(--const3));
    --font-weight: 700;
    --width: 60vw;
}

/* Body */

body {
    font-family: 'Mulish', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: auto;
    max-width: var(--width);
    font-size: var(--text-size);
}

/* Article */

article {
    padding-top: 3vh;
    padding-bottom: 3vh;
}
#single-article {
    text-align: left;
}
#home-article {
    text-align: left;
    max-width: calc(var(--width) / 2);
    float: left;
}
#note-article {
    text-align: left;
}

/* Section */

section {
    margin: auto;
}
#toc-section {
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: block;
    border-left-style: solid;
    border-color: var(--accent-color);
    border-width: 1px;
}
#autolist-section {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
#menu-section {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
#path-menu-section {
    text-align: left;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

/* Header */

header {
    font-size: var(--text-size-h);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
#home-main header {
    text-align: left;
}

/* Footer */

footer {
    color: var(--text-color2);
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 2vh;
}
#home-main footer {
    margin-top: 4vh;
}

/* Paragraph */

p {
    line-height: 2;
    letter-spacing: 1px;
}

/* Navbar */

#main-nav {
    font-size: var(--text-size);
    text-align: right;
    word-spacing: 1vw;
}
#home-nav-content {
    font-size: var(--text-size-h5);
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* Links */

a {
    color: var(--intralink-color);
    text-decoration: none;
}
a[href *= "https://"] {
    color: var(--interlink-color)
}
a[href *= "mailto"] {
    color: var(--interlink-color);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: var(--intralink-color-active)
}
a[href *= "https://"]:active {
    color: var(--interlink-color-active)
}
a[href *= "mailto"]:active {
    color: var(--interlink-color-active);
}
#navbar-title a {
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: left;
    float: left;
}
#menu-section a {
    display: inline-block;
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight);
    text-align: center;
    border: solid;
    border-color: var(--accent-color2);
    border-width: 1px;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 10em;
}
#menu-section a:hover {
    background-color: var(--bg-color2);
    text-decoration: none;
}
#home-nav-content a {
    display: inline-block;
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight);
    text-align: center;
    border: solid;
    border-color: var(--accent-color2);
    border-width: 1px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 10em;
}
#home-nav-content a:hover {
    background-color: var(--accent-color);
    text-decoration: none;
}
#err-section a {
    color: var(--intralink-color);
}
#err-section a:active {
    color: var(--intralink-color-active);
}
#path-menu-section a {
    display: block;
    font-size: var(--text-size-h5);
    border: solid;
    border-color: var(--accent-color);
    border-width: 3px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    width: fit-content;
}
#path-menu-section a:hover {
    text-decoration: none;
    background-color: var(--bg-color2);
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color3);
} 
h1 {
    font-size: var(--text-size-h1);
    font-weight: var(--font-weight);
}
h2 {
    font-size: var(--text-size-h2);
    font-weight: var(--font-weight);
}
h3 {
    font-size: var(--text-size-h3);
    font-weight: var(--font-weight);
}
h4 {
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight);
}
h5 {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
}
h6 {
    font-size: var(--text-size);
    font-weight: var(--font-weight);
}

/* Lists */

li {
    line-height: 2;
    letter-spacing: 1px; 
}
#autolist-section li {
    list-style-type: none;
}
#note-articel li {
    list-style-type: disc;
}
#TableOfContents ol {
    counter-reset: item;
    list-style-type: none;
    
}
#TableOfContents li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}
#main-nav li {
    display: inline;
}
#menu-section ul {
    padding: 0;
    margin: 0;
}
#menu-section li {
    list-style-type: none;
}
#home-nav-content li {
    list-style-type: none;
}

/* Lines */

hr {
    background-color: var(--accent-color);
    border: none;
}
#navbar hr {
    height: 2px;
}
#footer hr {
    height: 2px;
}
#toc hr {
    height: 1px;
}
#home-main hr {
    height: 2px
}

/* Tables */

.note-table {
    border: solid;
    border-width: 4px;
    border-color: var(--accent-color3);
    background-color: var(--bg-color2);
    text-align: left;
    width: var(--width);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.note-table tr, td, th {
    border: solid;
    border-width: 1px;
    border-color: var(--accent-color2);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.note-table thead th {
    border-bottom-width: 2px;
    border-top-width: 2px;
}
.note-table tbody th {
    border-right-width: 2px;
    border-left-width: 2px;
}
.note-table th {
    color: var(--text-color3);
}
.note-table caption {
    caption-side: bottom;
    font-style: italic;
    font-size: var(--text-size-s);
}
tbody.it td {
    font-style: italic;
}
tbody.it th {
    font-style: normal;
}
.center {
    text-align: center;
}
.it {
    font-style: italic;
}
.bf {
    font-weight: var(--font-weight);
}

/* Images */

.note-fig img {
    display: block;
    max-width: 60%;
    max-height: 40vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto 
}
.note-fig figcaption, .note-fig-w figcaption {
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    font-size: var(--text-size-s);
}
.note-fig-w img {
    display: block;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto
}

/* Blockquotes */

blockquote p {
    background-color: var(--bg-color2);
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-left: solid;
    border-color: var(--accent-color3);
    border-width: 10px;
    font-style: italic;
}

/* Scaling */

@media (min-width: 1300px) {
    body {
        font-size: calc(var(--text-size) * var(--const));
    }
}
@media (max-width: 850px) {
    body {
        font-size: calc(var(--text-size) * var(--const2));
        max-width: calc(var(--width) + 15vw);
    }
}
@media (max-width: 785px) {
    #home-article {
        float: none;
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    body {
        font-size: calc(var(--text-size) * var(--const3));
        max-width: calc(var(--width) + 25vw);
    }
}
@media (max-width: 320px) {
    body {
        font-size: calc(var(--text-size) * var(--const4));
        max-width: calc(var(--width) + 33vw);
    } 
}