{{define "styles"}}<link rel="stylesheet" href="/css/cv.css">{{end}}
{{define "title"}}<title>{{.Title}}</title>{{end}}
{{define "header"}}
    <header>{{.Title}}</header>
{{end}}
{{define "main"}}
    <section>
        <h1>
            {{if strings.HasPrefix .RelPermalink "/cs/"}}
                Zkušenosti
            {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                Expérience
            {{else}}
                Experience
            {{end}}
        </h1>
        <div class="section-content">
            {{range where .Site.Pages ".Params.type" "==" "cv-entry"}}
                {{if eq .Params.category "experience"}}
                    {{partial "cv-entry.html" .}}
                {{end}}
            {{end}}
        </div>
    </section>
    <section>
        <h1>
            {{if strings.HasPrefix .RelPermalink "/cs/"}}
                Dovednosti
            {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                Compétences
            {{else}}
                Skills
            {{end}}
        </h1>
        <div class="section-content" id="cv-skills">
            {{range where .Site.Pages ".Params.type" "==" "cv-entry"}}
                {{if eq .Params.category "skill"}}
                    {{partial "skill-entry.html" .}}
                {{end}}
            {{end}}
        </div>
    </section>
    <section>
        <h1>
            {{if strings.HasPrefix .RelPermalink "/cs/"}}
                Vzdělání
            {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                Éducation
            {{else}}
                Education
            {{end}}
        </h1>
        <div class="section-content">
            {{range where .Site.Pages ".Params.type" "==" "cv-entry"}}
                {{if eq .Params.category "education"}}
                    {{partial "cv-entry.html" .}}
                {{end}}
            {{end}}
        </div>
    </section>
    <section>
        <h1>
            {{if strings.HasPrefix .RelPermalink "/cs/"}}
                Projekty
            {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                Projets
            {{else}}
                Projects
            {{end}}
        </h1>
        <div class="section-content">
            {{range where .Site.Pages ".Params.type" "==" "cv-entry"}}
                {{if eq .Params.category "project"}}
                    {{partial "cv-entry.html" .}}
                {{end}}
            {{end}}
        </div>
    </section>
{{end}}