{{define "title"}}<title>{{.Site.Title}}</title>{{end}}
{{define "styles"}}<link rel="stylesheet" href="/css/home.css">{{end}}
{{define "header"}}
    <header>Petr Geršl</header>
{{end}}
{{define "main"}}
    <section id="home-now">
        <h1>
            {{if strings.HasPrefix .RelPermalink "/cs/"}}
                Aktuálně
            {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                Maintenant
            {{else}}
                Now
            {{end}}
        </h1>
        <div class="section-content">
            <img src="/media/img/base/me.png">
            <div id="home-now-content">{{.Content}}</div>
        </div>
    </section>
    <section id="home-my-system">
        {{if strings.HasPrefix .RelPermalink "/cs/"}}
            <h1>Můj systém</h1>
            <div class="section-content i-list">
                <div class="i-list-item">Otevřenost</div>
                <div class="i-list-item">Racionalita</div>
                <div class="i-list-item">Optimismus</div>
                <div class="i-list-item">Vize</div>
                <div class="i-list-item">Zvědavost</div>
                <div class="i-list-item">Respekt</div>
                <div class="i-list-item">Upřímnost</div>
                <div class="i-list-item">Férovost</div>
            </div>
        {{else if strings.HasPrefix .RelPermalink "/fr/"}}
            <h1>Mon système</h1>
            <div class="section-content i-list">
                <div class="i-list-item">Ouverture d'espirit</div>
                <div class="i-list-item">Rationalité</div>
                <div class="i-list-item">Optimisme</div>
                <div class="i-list-item">Vision</div>
                <div class="i-list-item">Curiosité</div>
                <div class="i-list-item">Respect</div>
                <div class="i-list-item">Honnêteté</div>
                <div class="i-list-item">Équité</div>
            </div>
        {{else}}
            <h1>My system</h1>
            <div class="section-content i-list">
                <div class="i-list-item">Open-mindedness</div>
                <div class="i-list-item">Rationality</div>
                <div class="i-list-item">Optimism</div>
                <div class="i-list-item">Vision</div>
                <div class="i-list-item">Curiosity</div>
                <div class="i-list-item">Respect</div>
                <div class="i-list-item">Honesty</div>
                <div class="i-list-item">Fairness</div>
            </div>
            <p>See my <a href="https://wiki.pgersl.xyz/" target="_blank">wiki</a> for more!</p>
        {{end}}
    </section>
    <section id="home-find-me">
        <h1>
            {{if strings.HasPrefix .RelPermalink "/cs/"}}
                Najděte mě
            {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                Trouvez-moi
            {{else}}
                Find me
            {{end}}
        </h1>
        <div class="social-links section-content">
            <a href="http://localhost:1313/linkedin.com/in/petr-ger%C5%A1l-9324491a6" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/pgersl" class="social-link"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://pgersl.bandcamp.com/" class="social-link"><i class="fa-brands fa-bandcamp"></i></a>
        </div>
    </section>
{{end}}